{{> menuadmin}}

<div class="jumbotron">
        <h2>Edukiak</h2>
      </div>

<div class="row marketing">
    <div class="col-lg-12">

         <table class="table table-striped">
                <tr>
                    <th></th>
                    <th>Edukia mota</th>
                    <th>Izenburua</th>
                    <th>Data</th>
                    <th>Zenbakia</th>
                    <th></th>
                    <th></th>
                </tr>                  
            
              {{#each berriak}}
                  <tr>
                    <td></td>
                    <td>{{motaEdukia}}</td>
                    <td>{{izenburuaBerria}}</td>
<!--                    <td>{{testuaBerria}}</td>  -->
                    <td>{{dataBerria}}</td>
                    <td align=center>{{zenbakiBerria}}</td>
                     <td>
                        <a class="a-inside edit" href="../admin/berriakeditatu/{{idBerriak}}">Edukia Aldatu</a>
                    </td>
                    <td>
                        <a class="a-inside delete" href="../admin/berriakezabatu/{{idBerriak}}">Edukia Ezabatu</a> 
                    </td>
                    
                  </tr>
              {{/each}}

      </table>

        
    </div>
  </div>

<div class="jumbotron">
        <h2>Edukiak sortu</h2>
      </div>

<div class="formContainer">
    <form class="form-horizontal newsletterForm" role="form" action="/admin/berriaksortu" method="POST">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
        <div class="form-group">
            <label for="motaEdukia" class="col-sm-2 control-label">Edukia mota</label>
            <div class="col-sm-2">
              <select id="motaEdukia" name="motaEdukia" required>
                <option value="">Aukeratu mota</option>
                <option value="A">Argazkiak</option> 
                <option value="B">Berriak</option>
                <option value="E">Egitekoak</option>
              </select>
            </div>
        </div>

        <div class="form-group">
            <label for="izenburuaBerria" class="col-sm-2 control-label">Izenburua</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" required id="izenburuaBerria" name="izenburuaBerria" autofocus value={{izenburuaBerria}} >
            </div>
        </div>
        
        <div class="form-group">
            <label for="testuaBerria" class="col-sm-2 control-label">Testua</label>
            <div class="col-sm-6">
                <textarea name="testuaBerria" data-provide="markdown" rows="10" cols="220" class="form-control" required id="testuaBerria" value={{testuaBerria}}>  </textarea>
              <!--  <input type="textarea" class="form-control" required id="testua" name="testua" value={{testua}}> -->
            </div>
        </div> 
        <div class="form-group">
            <label for="zenbakiBerria" class="col-sm-2 control-label">Zenbakia</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" required id="zenbakiBerria" name="zenbakiBerria" autofocus value={{zenbakiBerria}} >
            </div>
        </div>

        <div class="form-group">
        <div class="checkbox col-sm-offset-3">
              <label>
                <input type="checkbox" name="bidali" id="bidali" value="true">
                <strong>Bidali berria txioaz?</strong>
              </label>
            </div>
         </div>
         </div>        

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
                <button type="submit" class="btn btn-default">Gorde</button>
            </div>
        </div>
    </form>
</div>

      </div>
