	{{> menu}}
    {{#each data2}}
      <div class="jumbotron">
        <h2>{{txapelketaizena}}</h2>
      </div>
      {{/each}}
      <div class="row marketing">
      
        <div class="col-lg-8">
          {{#each data2}}
              <p style="color:#0000FF"><b> Txapelketa eguna: </b> {{hasierakoeguna}}tik {{bukaerakoeguna}}ra </p>

              <p style="color:#0000FF"><b>Aurre-Inskripzio epea: </b>{{inskripziohasierae}}tik <b>({{inskripziohasierao}}etatik)</b> {{inskripziobukaerae}}ra</p>
<!--
              <p style="color:#0000FF"><b>Apuntatzeko eguna: </b>{{inskripziohasierae}}<b>  ({{inskripziohasierao}}etatik aurrera)</b> </p>
-->
              <p style="color:#FF0000"><b>Zozketaren eguna: </b>{{inskripziobukaerae}}tik 2 egunetara<b>
              <p style="color:#0000FF"><b>Taldea onartua izan arte ez da diru sarrerarik egin behar</b> </p>
              <p style="color:#FF0000"><b>Onartua izan ondoren 2 egun izango dituzue diru sarrera egiteko</b> </p>
              
              <p style="color:#0000FF"><b>Prezioa: </b>{{prezioa}} euro.</p>
              <p style="color:#0000FF"> 8 partaidetik gorako taldeetan, partaide gehigarri bakoitzeko </b>{{partidukopmin}}<b>€ gehiago.</p>
              <p style="color:#0000FF"><b>Kontu korrontea: </b>{{kontukorrontea}}</p>
              <hr align="left" noshade="noshade" size="4" width="100%" />
              
          {{/each}}

        </div>


        <div class="col-lg-4">
          
          <h3 style="color:#0000FF"> <a href="/img/laguntza.pdf" target="_blank">Izenemateko laguntza klik hemen</a> </h3>
<!--          <p> <a href="/img/laguntza.pdf" target="_blank">Izena-emateko laguntza, klik egin hemen.</a> </p> -->
          {{#if izenemanikusi}}
            <h3 style="color:#0000FF">AurreInskripzioak ikusi:</h3>
            <div style="width: 300px; height: 150px; overflow-y: scroll; " align="center">
             {{#each taldeak}} 
              <p style="color:{{kolore}}">  {{taldeizena}}  </p>
             {{/each}}
           </div>
           <p> Koloreak: <span style="color:#0000FF">emaila baieztatuta, </span><span style="color:#FF0000">baieztatu gabe</span> </p>
          {{/if}}

          {{#if aukeraketa}}
            <h3 style="color:#0000FF">Inskripzioa osatzeke:</h3>
            <div style="width: 300px; height: 150px; overflow-y: scroll; " align="center">
             {{#each taldeak}} 
              {{#if aukeratuta}}
                <p style="color:{{kolore}}">  {{taldeizena}}  </p>
              {{/if}}  
             {{/each}}
           </div>
           <p> Koloreak: <span style="color:#008000">taldea aukeratuta</span> </p>
          {{/if}}

        </div>
      </div>

      <div class="row marketing">
      
        <div class="col-lg-8">
          {{#each data}}
              <h3 style="color:#0000FF">{{izenburuaBerria}}</h3>
              <div style=”padding:12px;background-color:#E1E1E1;line-height:1.4;”>
                           {{{htmlBerria}}}
              </div>
              <!-- <textarea readonly cols="100">{{testuaBerria}}</textarea> -->

              <hr align="left" noshade="noshade" size="4" width="100%" />
          {{/each}}

        </div>

<!--
        <div class="col-lg-4">
          <h3 style="color:#0000FF"> Twitter </h3>
              <a class="twitter-timeline"  width="300" height="500"
              href="https://twitter.com/txaparrotan" 
              data-widget-id="525292625360736256"> @txaparrotan -eko txioak</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
        </div>
-->        
      </div>

      