	{{> menu}}
    {{#each data2}}
      <div class="jumbotron">
        <h2>{{txapelketaizena}}</h2>
      </div>
      {{/each}}
      <div class="row marketing">
      
        <div class="col-lg-8">
          {{#each data2}}
              <p style="color:#0000FF"><b> Txapelketa eguna: </b> {{hasierakoeguna}}tik {{bukaerakoeguna}}ra </p>
              <p style="color:#0000FF"><b>Apuntatzeko epea: </b>{{inskripziohasierae}}tik {{inskripziobukaerae}}ra</p>
              <p style="color:#0000FF"><b>Prezioa: </b>{{prezioa}} euro</p>
              <hr align="left" noshade="noshade" size="4" width="100%" />
              
          {{/each}}

        </div>


        <div class="col-lg-4">
          
          <h3 style="color:#0000FF">Izena-emateko laguntza</h3>
          <p> Laguntza behar baduzu, <a href="/img/laguntza.pdf" target="_blank">klik egin hemen.</a> </p>
          
          
        </div>
      </div>

      <div class="row marketing">
      
        <div class="col-lg-8">
          {{#each data}}
              <h3 style="color:#0000FF">{{izenburua}}</h3>
              {{testua}}
              <!-- <textarea readonly cols="100">{{testua}}</textarea> -->

              <hr align="left" noshade="noshade" size="4" width="100%" />
          {{/each}}

        </div>


        <div class="col-lg-4">
          <h3 style="color:#0000FF"> Twitter </h3>
              <a class="twitter-timeline"  width="300" height="500"
              href="https://twitter.com/txaparrotan" 
              data-widget-id="525292625360736256"> @txaparrotan -eko txioak</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
        </div>
      </div>

      