{{> menuadmin}}
 <div class="jumbotron">
        <h2>Jokalari kopuruak</h2>
      </div>
  
      </br>
      
      <div class="row marketing">
        <div class="col-lg-5 col-sm-offset-1">
        <table class="table table-striped">
                <tr>
                    <th>Talde izenak</th>
                    <th>Kopurua</th>
                    <th>Berezitasunak</th>
                    <th>Balidatuta</th>
                </tr> 
                {{#each data2}}
                   <tr>
                    <td>{{taldeizena}}</td>
                    <td>{{guztira}}</td>
                    <td>{{berezitasunak}}</td>   
                    <td>{{balidatuta}}</td> 
                    <td><a class="a-inside edit" href="/admin/taldea/{{idtaldeak}}">Aldatu</a></td>               
                   </tr>                           
                {{/each}}  
                <tr>
                    <td><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GUZTIRA</b></td> 
                    <td><b>{{jokalaritot}}</b></td>                
                   </tr>               
          </table>
        </div>
        
      </div>