{{#if menuadmin}}
  {{> menuadmin}}
{{else}}
  {{> menu}}
{{/if}}
  {{#if menuadmin}}  
    <div class="jumbotron">
        <h2>Apuntatutako taldeak</h2>
    </div>
  {{else}}
      <div class="jumbotron">
        <h2>Onartutako taldeak</h2>
    </div>
        <a href="/jokalariak" class="btn btn-primary btn-sm" role="button">Zure taldearen datuak ikusi</a>  
  {{/if}}

      <div class="row marketing">
        <div class="col-lg-5 col-sm-offset-1">
        {{#each data2}}
        <h2 style="color:#0000FF"> {{mailaizena}}</h2>
        <table class="table table-striped">
            <tr class="active">  
                    <th> </th>
                    <th>Taldearen izena</th>
                    <th>Herria</th>
                </tr>                               
            {{#each taldeak}}
                  <tr>
                    <td> {{postua}} </td>
                    <td>{{taldeizena}}</td>
                    <td>{{herria}}</td>                    
                </tr>
            {{/each}}
          </table>
        {{/each}}
        </div>
      </div>
    