{{> menu}}

      <div class="jumbotron">
        <h2>{{aditestua}}</h2>
      </div>

<div class="col-md-offset-1" align="center">
    <h4><b> Jarraitu behar dituzun urratsak hauek dira: </b></h4>
    <img src="/img/izenaeman.jpg" alt="Izen-ematea" height="100" width="800"></img>
    <br/>
    <br/>
</div>

<div class="formContainer col-sm-offset-1">
    <form class="form-horizontal newsletterForm" role="form" action="/taldeasortu" method="POST">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
<!--
        <h4><b> Urrats hauek egin ondoren, zure taldearen izena "Taldeak" atalean agertzen ez bada, jarri kontaktuan gurekin. </b></h4>
        </br>
-->        
        <div class="form-group">
            <label for="taldeizena" class="col-sm-2 control-label">Taldearen izena</label>
            <div class="col-sm-4">
             <!--   <input type="text" class="form-control" required id="taldeizena" name="taldeizena" value={{taldeizena}}> -->
                <textarea name="taldeizena" rows="1" cols="40" class="form-control" required>{{taldeizena}}</textarea>
            </div>
        </div>
        
        <div class="form-group">
            <label for="kategoria" class="col-sm-2 control-label">Kategoria</label>
            <div class="col-sm-2">
            <select name="kategoria" id="kategoria" required>
                <option value="">--Aukeratu maila--</option>
                {{#each mailak}}
                     {{#if aukeratua}}
                         <option value="{{idmaila}}" selected>{{mailaizena}}</option>
                     {{else}}
                         <option value="{{idmaila}}">{{mailaizena}}</option>
                     {{/if}}
                {{/each}}

            </select>
            </div>
            <label class="col-sm-6 control-label "><input type="checkbox" id="sexua" name="sexua" value="X">Taldea mixtoa bada Klikatu. Mutilen Txapelketan Jokatzea Onartzen dut</label>
        </div>

        <div class="form-group">
            <label for="herria" class="col-sm-2 control-label">Herria</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" required id="herria" name="herria" value={{herria}}>
            </div>
        </div>

        <input type="hidden" class="form-control" required id="idtxapelketa" name="idtxapelketa" value={{idtxapelketa}}>
         </br>

        <h4 style="color:#0000FF"> ARDURADUNA </h4>
        <div class="form-group">
            <label for="DNIard" class="col-sm-2 control-label">NAN</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" required id="DNIard" name="DNIard" value={{DNIard}}>
            </div>
        </div>
        <div class="form-group">
            <label for="izenaard" class="col-sm-2 control-label">Izen-abizenak</label>
            <div class="col-sm-4">
                <textarea name="izenaard" rows="1" cols="40" class="form-control" required>{{izenaard}}</textarea>
               <!-- <input type="text" class="form-control" required id="izenaard" name="izenaard" value={{izenaard}}> -->
            </div>
        </div>
        <div class="form-group">
            <label for="telefonoard" class="col-sm-2 control-label">Telefonoa</label>
            <div class="col-sm-4">
                <input type="tel" class="form-control" required id="telefonoard" name="telefonoard" value={{telefonoard}}>
            </div>
        </div>
        <div class="form-group">
            <label for="emailard" class="col-sm-2 control-label">Emaila</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" required id="emailard" name="emailard" placeholder="Erabiltzen duzun emaila jarri" value={{emailard}} >
            </div>
        </div>
        <div class="form-group">
            <label for="emailard2" class="col-sm-2 control-label">Emaila</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" required id="emailard2" name="emailard2" placeholder="Errepikatu emaila" value={{emailard2}} >
            </div>
        </div>
        <div class="form-group">
            <label for="pasahitza" class="col-sm-2 control-label">Pasahitza</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" required id="pasahitza" name="pasahitza" placeholder="Sartu pasahitza" value={{pasahitza}} >
            </div>
        </div>
        <div class="form-group">
            <label for="pasahitza2" class="col-sm-2 control-label">Pasahitza</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" required id="pasahitza2" name="pasahitza2" placeholder="Errepikatu pasahitza" value={{pasahitza2}} >
            </div>
        </div>

        <div class="form-group">
              <label class="col-sm-2 control-label">Onartzeko</label>
              <div class="col-sm-6">
               <p>
               - Gerta daitezken kalteez, Antolakuntza ez da arduradun egiten.
               </p>
               <p>
               - Antolakuntzak ahalegin guztiak egingo ditu txapelketa bertan behera ez gelditzeko. Bertan behera gelditu ezkero, antolakuntza ez da kargo egiten gertatzen denarekin.
               </p>
               <label class="col-sm-3 control-label checkbox-inline"><input type="checkbox" value="" required>Onartzen dut</label>
              </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-default">Bidali</button>
            </div>
        </div>
    </form>
</div>

      </div>

<script>

Handlebars.registerHelper('mailaBerdina',function(kategoria, idmaila){
  return kategoria  == idmaila;
});


</script>

<!-- SOCKET GABE
<script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      var socket = io();
      $(document).ready(function(){
        socket.emit('mailak', $('#idtxapelketa').val());
        return false;
      });
      socket.on('mailak', function(data){
        var totTal = data.length;
        kategoria.length = totTal;

        for (var i = 0; i< totTal; i++){
            kategoria.options[i] = new Option (data[i].mailaizena, data[i].idmaila)
        };
      });
    </script>        -->