{{> menuadmin}}
 <div class="jumbotron">
        <h2>Talde kopuruak</h2>
      </div>
      <a href="/admin/taldeak" class="btn btn-primary btn-sm" role="button">Taldeak</a>
      <a href="/admin/taldeakikusi" class="btn btn-primary btn-sm" role="button">Taldeak ikusi</a>
      <a href="/admin/taldeakbalidatugabe" class="btn btn-primary btn-sm" role="button">Itxaron Zerrenda</a>
<!--
      <a href="/admin/taldekopbalidatugabe" class="btn btn-primary btn-sm" role="button">Talde kop balidatu gabe</a>
-->
      <a href="/admin/jokalarikopurua" class="btn btn-primary btn-sm" role="button">Jokalari kopurua ikusi</a>      
      <a href="/admin/jokalariakikusi" class="btn btn-primary btn-sm" role="button">Jokalariak izenez ikusi</a>
      </br>
      
      <div class="row marketing">
        <div class="col-lg-8 col-sm-offset-1">
        <table class="table table-striped">
                <tr>
                    <th>Kategoria</th>
                    <th>Kopurua</th>
                    <th>onartuak-5,6</th>
                    <th>aukeratuak-4</th>
                    <th>apuntatuak-1,2,3</th>
                    <th>balidatugabeak-0</th>
                </tr> 
               
                {{#each data2}}
                   <tr>
                    <td>{{mailaizena}}</td> 
                    <td align="center">{{guztira}}</td>
                    <td align="center">{{onartuak}}</td>
                    <td align="center">{{aukeratuak}}</td>
                    <td align="center">{{apuntatuak}}</td>
                    <td align="center">{{balidatugabeak}}</td>                
                   </tr>                           
                {{/each}} 
                <tr>
                  {{#each guztirak}}
                    <td><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GUZTIRA</b></td> 
                    <td align="center"><b>{{guztira}}</b></td>   
                    <td align="center"><b>{{onartuak}}</b></td>
                    <td align="center"><b>{{aukeratuak}}</b></td>
                    <td align="center"><b>{{apuntatuak}}</b></td>
                    <td align="center">{{balidatugabeak}}</td>
                  {{/each}}              
                </tr>                 
          </table>
        </div>
        
      </div>