{{> menu}}

</br>
</br>

<h3>Eskerrik asko {{txapelketaizena}} txapelketan <b> {{taldeizena}} </b> izenarekin izena-emateagatik!</h3>
<ul><h2>
<li>Jarraian email bat jasoko duzu <b> {{emailard}} </b> helbidean. </li>
<li>Bertako linkean klikatu eta zure taldearen datuekin saioa hasteko aukera izango duzu. </li>
<li>Saioa hasi ondoren, jokalariak sartu beharko dituzu. </li>
<li> Hori egindakoan, ondorengo kontu korrontean {{kk}} {{prezio}} euro sartu. </li>
<li>Hau egin ezean, zure taldea ez da txapelketan apuntatuta egongo. Mila esker!</h2></li>
</ul>