  {{> menu}}
  
<div class="jumbotron">
        <h2>Apuntatutako taldeak</h2>
      </div>
      <a href="/jokalariak" class="btn btn-primary btn-sm" role="button">Zure taldearen datuak ikusi</a>
      </br>
      </br>
      <div class="row marketing">
        <div class="col-lg-5 col-sm-offset-1">
        {{#each data2}}
        <h2 style="color:#0000FF"> {{mailaizena}}</h2>
        <table class="table table-striped">
            <tr class="active">  
                    <th> </th>
                    <th>Taldearen izena</th>
                    <th>Herria</th>
                </tr>                               
            {{#each taldeak}}
                  <tr>
                    <td> {{postua}} </td>
                    <td>{{taldeizena}}</td>
                    <td>{{herria}}</td>                    
                </tr>
            {{/each}}
          </table>
        {{/each}}
        </div>
      </div>

  <!--    <div class="jumbotron">
        <h1>Apuntatutako taldeak</h1>
      </div>
      <a href="/jokalariak" class="btn btn-primary btn-sm" role="button">Zure taldearen datuak ikusi</a>
      </br>
      </br>
      <div class="row marketing">
        <div class="col-lg-5">
        <h2> Benjamin neskak </h2>
        <table class="table table-striped">
            <tr>
                    <th>Taldearen izena</th>
                    <th>Herria</th>
                </tr>                               
            {{#each data2}}
                  <tr>
                    <td>{{taldeizena}}</td>
                    <td>{{herria}}</td>                    
                </tr>
            {{/each}}
          </table>
        </div>
        <div class="col-lg-5">
          <h2> Benjamin mutilak </h2>
        <table class="table table-striped">
            <tr>
                    <th>Taldearen izena</th>
                    <th>Herria</th>
                </tr>                               
            {{#each data3}}
                  <tr>
                    <td>{{taldeizena}}</td>
                    <td>{{herria}}</td>                    
                </tr>
            {{/each}}
          </table>
        </div>

        <div class="col-lg-5">  
          <div class="pull-left">
          <h2> Alebin neskak </h2>
          <table class="table table-bordered">
            <tr>
                    <th>Taldearen izena</th>
                    <th>Herria</th>
                </tr>                               
            {{#each data4}}
                  <tr>
                    <td>{{taldeizena}}</td>
                    <td>{{herria}}</td>                    
                </tr>
            {{/each}}
          </table>
          </div>
        </div>
        <div class="col-lg-5">
        <h2> Alebin mutilak </h2>
          <table class="table table-bordered">
            <tr>
                    <th>Taldearen izena</th>
                    <th>Herria</th>
                </tr>                               
            {{#each data5}}
                  <tr>
                    <td>{{taldeizena}}</td>
                    <td>{{herria}}</td>                    
                </tr>
            {{/each}}
          </table>
        </div>

        <div class="col-lg-5">
          <h2> Infantil neskak </h2>
          <table class="table table-bordered">
            <tr>
                    <th>Taldearen izena</th>
                    <th>Herria</th>
                </tr>                               
            {{#each data6}}
                  <tr>
                    <td>{{taldeizena}}</td>
                    <td>{{herria}}</td>                    
                </tr>
            {{/each}}
          </table>
        </div>
        <div class="col-lg-5">
          <h2> Infantil mutilak </h2>
          <table class="table table-bordered">
            <tr>
                    <th>Taldearen izena</th>
                    <th>Herria</th>
                </tr>                               
            {{#each data7}}
                  <tr>
                    <td>{{taldeizena}}</td>
                    <td>{{herria}}</td>                    
                </tr>
            {{/each}}
          </table>
        </div>
        
        <div class="col-lg-5">
          <h2> Helduak neskak </h2>
          <table class="table table-bordered">
            <tr>
                    <th>Taldearen izena</th>
                    <th>Herria</th>
                </tr>                               
            {{#each data8}}
                  <tr>
                    <td>{{taldeizena}}</td>
                    <td>{{herria}}</td>                    
                </tr>
            {{/each}}
          </table>
        </div>
        <div class="col-lg-5">
          <h2> Helduak mutilak </h2>
          <table class="table table-bordered">
            <tr>
                    <th>Taldearen izena</th>
                    <th>Herria</th>
                </tr>                               
            {{#each data9}}
                  <tr>
                    <td>{{taldeizena}}</td>
                    <td>{{herria}}</td>                    
                </tr>
            {{/each}}
          </table>
        </div>
      </div> -->

     