

</br>

<h3>Eskerrik asko {{mailaizena}} mailan <b> {{taldeizena}} </b> izenarekin taldea izena-emateagatik!</h3>
<ul><h3>
<li>1. Jarraian email bat jasoko duzu <b> {{emailard}} </b> helbidean. </li>
<li>2. Bertako linkean klikatu eta zure taldearen datuekin saioa hasteko aukera izango duzu. </li>
<li>3. Saioa hasi ondoren, jokalariak sartu beharko dituzu. </li>
<li>4. Hori egindakoan, {{kk}} kontu korrontean {{prezio}} euro sartu eta kontzeptu bezala arduradunaren eta taldearen izena jarri : {{izenaard}} - {{taldeizena}} </li>
<li style="color:#FF0000">5. Hau egin ezean, zure taldea ez da txapelketan apuntatuta egongo. Behin ordainketa egindakoan eta guk hau berrikusitakoan (astebeteko mugarekin), beste email bat jasoko duzu ONARTUA izan zarela adierazten. Hau jaso arte, ez zaudela onartua garbi utzi nahi dugu.</li>
<li style="color:#0000FF">6. Txapelketak dituen mugak gainditu ezinak ditugunez: asteburu batean eta 6 jokutoki, izena emandako taldeak topea gainditu ezkero, antolakuntzak, astebetera, zein talde izan diren onartuak adieraziko ditu. Ordaindu duen talderen bat kanpoan geldituko balitz, dirua bueltatuko litzaioke.</li>
<li style="color:#FF0000">7. Gerta daitezken kalteez, Antolakuntza ez da arduradun egiten.</li>
<li style="color:#0000FF">8. Antolakuntzak ahalegin guztiak egingo ditu txapelketa bertan behera ez gelditzeko. Bertan behera gelditu ezkero, antolakuntza ez da kargo egiten gertatzen denarekin. Mila esker!</h3></li>
</ul>
