<div class="container">

 <div class="col-sm-6">

  <h1><span class="fa fa-sign-in"></span> Ongi etorri! </h1>
  <h4> <b> Aukeratu ezazu txapelketa bat, informazioa ikusi ahal izateko. </b></h4>

  </br>
  <!-- LOGIN FORM -->
  <form action="/txapelketakaukeratu" method="post">

    <div class="form-group">
      <label for="sTxapelketak">Txapelketak</label>
      <select name="sTxapelketak" id="sTxapelketak">
            <option value="">--Txapelketa aukeratu--</option>
            {{#each txapelketak}}
                <option value="{{idtxapelketa}}">{{txapelketaizena}}</option>
            {{/each}}
            
      </select>
    </div>

    <button type="submit" class="btn btn-warning btn-lg">Aukeratu</button>
  </form>
 </div>

  <div class="col-lg-8">
          {{#each berriak}}
              <h3 style="color:#0000FF">{{izenburuaBerria}}</h3>
              <div style=”padding:12px;background-color:#E1E1E1;line-height:1.4;”>
                           {{{htmlBerria}}}
              </div>              

              <!-- <textarea readonly cols="100">{{testuaBerria}}</textarea> -->

              <hr align="left" noshade="noshade" size="4" width="100%" />
          {{/each}}

  </div>
<!--
 <div class="col-lg-4 ">
          <h3 style="color:#0000FF"> Twitter </h3>
              <a class="twitter-timeline"  width="300" height="500"
              href="https://twitter.com/txaparrotan" 
              data-widget-id="525292625360736256"> @txaparrotan -eko txioak</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
  </div>
-->

</div>

