
     <div class="jumbotron">
        <h2>Txapelketa sortu</h2>
      </div>


<div class="formContainer">
    <form class="form-horizontal newsletterForm" role="form" action="/txapelketaksortu" method="POST">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
        <div class="form-group">
            <label for="txapelketaizena" class="col-sm-2 control-label">Txapelketaren izena</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" required id="txapelketaizena" autofocus name="txapelketaizena" value={{txapelketaizena}}>
            </div>
        </div>
        
        <div class="form-group">
            <label for="taldeizena" class="col-sm-2 control-label">Administratzailearen izena</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" required id="taldeizena" name="taldeizena" value={{taldeizena}}>
            </div>
        </div>
        <div class="form-group">
            <label for="emailard" class="col-sm-2 control-label">Emaila</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" required id="emailard" name="emailard" value={{emailard}}>
            </div>
        </div>
        <div class="form-group">
            <label for="pasahitza" class="col-sm-2 control-label">Pasahitza</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" required id="pasahitza" name="pasahitza" value={{pasahitza}}>
            </div>
        </div>

        <div class="form-group">
         <label for="sTxapelketak" class="col-sm-2 control-label">Txapelketak</label>
          <select name="sTxapelketak" id="sTxapelketak">
            <option value="">--Txapelketa kopiatzeko--</option>
            {{#each txapelketak}}
                <option value="{{idtxapelketa}}">{{txapelketaizena}}</option>
            {{/each}}
            
          </select>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-default">Txapelketa sortu</button>
            </div>
        </div>
    </form>
</div>

<div class="formContainer">
        <h4 style="color:#0000FF"> ADI - Txapelketak ikusgai bihurtzeko</h4>
        </br>
    <form class="form-horizontal newsletterForm" role="form" action="/txapelketakikusgai" method="POST">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">

        <div class="form-group">
         <label for="iTxapelketak" class="col-sm-2 control-label">Txapelketak</label>
          <select name="iTxapelketak" id="iTxapelketak">
            <option value="">--Txapelketa ikusgaitzeko--</option>
            {{#each txapelketak}}
                <option value="{{idtxapelketa}}">{{txapelketaizena}}</option>
            {{/each}}
            
          </select>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-default" id="ikusgai1">Txapelketa ikusgai</button>
            </div>
        </div>
    </form>
</div>

<div class="formContainer">
        <h4 style="color:#0000FF"> ADI - Txapelketak Ezabatzeko 2 aldiz prozesatu</h4>
        </br>
    <form class="form-horizontal newsletterForm" role="form" action="/txapelketakezabatu" method="POST">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">

        <div class="form-group">
         <label for="eTxapelketak" class="col-sm-2 control-label">Txapelketak</label>
          <select name="eTxapelketak" id="eTxapelketak">
            <option value="">--Txapelketa ezabatzeko--</option>
            {{#each txapelketak}}
                <option value="{{idtxapelketa}}">{{txapelketaizena}}</option>
            {{/each}}
            
          </select>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-default" id="ezabat1">Txapelketa ezabatu</button>
            </div>
        </div>
    </form>
</div>

 {{#section 'jquery'}}
<script>
  $(document).ready(function(){        

   $("#ezabat1").on('click',function (){ 
        //myFunction();
        alert ("ADI - Seguru al zaude txapelketa ezabatu nahi duzula?"); 
   });
   $("#ikusgai1").on('click',function (){ 
        //myFunction();
        alert ("ADI - Seguru al zaude txapelketa BERIKUSGAI nahi duzula?"); 
   });
  });
            

function myFunction() {
    var x;
    if (confirm("Seguru al zaude txapelketa ezabatu nahi duzula?") == true) {
        location.href = "/txapelketakezabatu";
        console.log("ezabatu");
    } else {
        x = "You pressed Cancel!";
        location.href = "/admin/txapelketak";
        console.log("EZ");
    }
    document.getElementById("demo").innerHTML = x;
}
</script>

{{/section}}